# v0 sandbox internal files
__v0_runtime_loader.js
__v0_devtools.tsx
__v0_jsx-dev-runtime.ts
.snowflake/
.v0-trash/
.vercel/

# Environment variables
# .env*.local

# Common ignores
node_modules
.next/
.DS_Store

# Virtual Environment
.venv/
env/
venv/
ENV/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
*.sqlite3

# Static and media files (они соберутся сами при деплое)
staticfiles/
media/

# Local environment variables
.env
.env.local

__pycache__/
